/* timestamp */
table.dataTable tbody td:nth-child(1) {
  text-align: center;
  vertical-align:middle;
  min-width: 250px;
  border:1px solid blue;
}

/* image */
table.dataTable tbody td:nth-child(2) {
  text-align: left;
  vertical-align:middle;
  border: 1px solid red;
}

/* meta keywords */
table.dataTable tbody td:nth-child(3) {
  text-align: left;
  vertical-align:middle;
  border: 1px solid pink;
}

/* meta description */
table.dataTable tbody td:nth-child(4) {
  text-align: left;
  vertical-align:middle;
  border: 1px solid orange;
}

/* url */
table.dataTable tbody td:nth-child(5) {
  text-align: left;
  vertical-align:middle;
  text-align: left;
  width: 100%;
  border:1px solid green;
}


.urlcell {
    display:block;
    /*width: 50vw;*/
    word-wrap:break-word;
}

.thumbnail {
	transition: .25s ease;
    width: 15em;
}

.thumbnail:hover {
    /**/
    position:relative;
    /* */
    /*top:-25px;
    left:-35px;*/
    display:block;
    z-index:999;
    transform: scale(4.6);
}
/*
#outerProgress {
  margin-left:25%;
  width: 50%;
  background-color: lightgray;
}

#innerProgress{
  width: 0%;
  height: 30px;
  background-color: darkgray;
  line-height: 30px;
}
*/
