
table.dataTable tbody td:nth-child(1) {
  vertical-align: top;
  text-align: left;
  width:auto;
}

table.dataTable tbody td:nth-child(2) {
  vertical-align: top;
  text-align: left;
}

table.dataTable tbody td:nth-child(3) {
  vertical-align: top;
  text-align: left;
  width:0px;
}

.urlcell {
    display:block;
    width: 50vw;
    word-wrap:break-word;
}

.thumbnail {
	transition: .25s ease;
}

.thumbnail:hover {
    position:relative;
    /*top:-25px;
    left:-35px;*/
    display:block;
    z-index:999;
    transform: scale(2.3);
}
