
table.dataTable tbody td:nth-child(1) {
  vertical-align: top;
  text-align: right;
  width:auto;
}

table.dataTable tbody td:nth-child(2) {
  vertical-align: top;
  text-align: right;
}

table.dataTable tbody td:nth-child(3) {
  vertical-align: top;
  text-align: right;
  width:0px;
}

.urlcell { 
    display:block;
    width: 50vw;
    word-wrap:break-word;
}
